// imported from TTF file
@include font-face('Aguda Regular', 'aguda-regular')
$font-aguda: 'Aguda Regular'

// imported from Google Fonts
$font-ibm-plex-mono: 'IBM Plex Mono'
$font-ibm-plex-sans: 'IBM Plex Sans'

$grid: 90px

$color-highlight-dark: #135836
$color-highlight-light: #00f17c
$color-text-light: white
$color-text-dark: black
$color-text-muted: #707070

$color-bg-navigation: black
$color-bg-content: #1a1a1a
