@import ../mixins
@import ../variables

cite
  display: block
  width: $grid * 3
  +font($font-ibm-plex-mono, 14px, 22px, 300, $color-highlight-light, italic)
  +disable-selection
  &:before, &:after
    +add-content-and-display-block
    width: 8px
    border-top: 25px solid #111
    border-left: 3px solid transparent
    border-right: 3px solid transparent
    transform: skewX(-20deg)
  &:before
    +position-left-top(absolute, -50px, -5px)
  &:after
    +position-left-top(absolute, -30px, -5px)



